// MARK: - App identity
BUNDLE_DISPLAY_NAME = dota1x6

// < DON'T TOUCH IT! >
BASE_BUNDLE_IDENTIFIER = com.webant.baseapp
BASE_BUNDLE_IDENTIFIER_DEV = com.webant.baseapp
APPLICATION_SCHEME = dota1x6
// < /DON'T TOUCH IT! >

// MARK: - Team
DEVELOPMENT_TEAM = Z4Q83QXW57

// MARK: - Provisioning profiles
// SPECIFIER => Name of the profile like 'match Development com.webant.baseapp'
// PROFILE => Profile UUID from fastlane output
// or filename from /Library/MobileDevice/Provisioning/[thisName].mobileprovision
DEV_PROVISIONING_PROFILE_SPECIFIER = match Development com.webant.baseapp
DEV_PROVISIONING_PROFILE = 4c9f7210-dac0-44a7-8914-646ff0ec5d68

RELEASE_PROVISIONING_PROFILE_SPECIFIER = match AppStore com.webant.baseapp
RELEASE_PROVISIONING_PROFILE = f13d94d0-33fa-43b5-95e2-8fa7116ad387
