// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "Config/AppIdentifiers.xcconfig"

PRODUCT_NAME = dota1x6

// Version
MARKETING_VERSION = 0.0.1
CURRENT_PROJECT_VERSION = 20210629215445

INFOPLIST_FILE = dota1x6/SupportingFiles/Info.plist
ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon

LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/Frameworks

CODE_SIGN_ENTITLEMENTS = dota1x6/SupportingFiles/dota1x6.entitlements
